# This is a basic workflow that is manually triggered

name: DatabricksNotebookDeployRun

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      name:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Person to greet'
        # Default value if no value is explicitly provided
        default: 'World'
        # Input has to be provided for the workflow to run
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  greet:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Runs a single command using the runners shell
    - name: Send greeting
      run: echo "Hello ${{ github.event.inputs.name }}"
    - name: Checkout
      uses: actions/checkout@v3
      with:
        path: main
    - name: install-databricks-cli
      uses: microsoft/install-databricks-cli@v1.0.0
    - name: Run build script
      run: "ls -l"
      shell: bash
    - name: Find Path
      run: pwd
      shell: bash
    - name: databricks-import-directory
      uses: microsoft/databricks-import-notebook@v1.0.0
      with:
        # Databricks host
        databricks-host: "https://adb-3585044229337591.11.azuredatabricks.net"
        # Databricks token
        databricks-token: "dapi0b04a66cf7734b430110ab84a313beda-2" # optional
        # LOCAL_NOTEBOOKS_PATH
        local-path: "/home/runner/work/adbgithubactionfy23/adbgithubactionfy23/main/notebooks/Users/babal@microsoft.com/mlflow/"
        # REMOTE_NOTEBOOK_PATH
        remote-path: "/Repos/babal@microsoft.com/adbgithubactionfy23/notebooks/Users/babal@microsoft.com/mlflow/"
    - name: Databrick Notebook Run
      # You may pin to the exact commit or the version.
      # uses: Herman-Wu/databrick-notebook-run-action@71cc3a2bb0fba4b26a2fd0655903fc7929a68f40
      uses: Herman-Wu/databrick-notebook-run-action@released
      with:
        # URL of the databrick server
        databrick-server-uri: "https://adb-3585044229337591.11.azuredatabricks.ne" # default is https://adb-XXXX.XX.azuredatabricks.net
        # Databrick Access Token
        databrick-token: "dapi0b04a66cf7734b430110ab84a313beda-2" # default is abcdefghijk
        # Databrick Cluster ID
        databrick-cluster-id: "0422-113043-4dxx0ah" # default is abcdefghijk
        # Notebook in Databrick
        databrick-local-path: "notebooks/Users/babal@microsoft.com/mlflow/" # default is github/workspace/notebooks
        # Workspace in Databrick
        databrick-workspace-path: "/Repos/babal@microsoft.com/adbgithubactionfy23/notebooks/Users/babal@microsoft.com/mlflow/" # default is Users/xxx@domain.com
        # File path to save process log
        databrick-outfile-path: "notebooks/Users/babal@microsoft.com/mlflow/" # default is github/workspace/notebooks
